;; System partition for schema
[{:db/ident :db.part/task
  :db.install/_partition :db.part/db}]

;; The Task Schema
[{:db/ident :task/user
  :db/cardinality :db/one
  :db/valueType :db.type/string
  :db/doc "user that authored the task"
  :db.install/_attribute :db.part/db}

;; could use in conjuction with a function that takes a user argument
;; and returns n + 1 where n is the total number of posts ever made by that user
;; not needed now
;; {:db/ident :task/external-use-id
;;  :db/cardinality :db/one
;;  :db/doc "an id for external use"
;;  :db/unique :db.unique/identity
;;  :db.install/_attribute :db.part/db}

 {:db/ident :task/description
  :db/cardinality :db/one
  :db/valueType :db.type/string
  :db/doc "description of the task"
  :db.install/_attribute :db.part/db}

 {:db/ident :task/completed
  :db/cardinality :db/one
  :db/valueType :db.type/boolean
  :db/isComponent true
  :db/doc "a boolean marking task completion"
  :db.install/_attribute :db.part/db}]